/* type design  */
b {
    font-weight: 700;
}

body {
    background-color: #FAFAFA;
    width: 375px;

    font-family:'Atkinson Hyperlegible', sans-serif;
    color: #1e1e1e;
}

button {
    
    background-color: #FAFAFA;
    border-style: none;

    height: 60px;

    border-radius: 10px;
    border-width: 1px;
    border-color:#B94847;
  

    margin-top: 50px;
 
    
}

h2 {
    font-weight: 400;
    font-size: 28px;
    
    margin-left: 35px;
}

h3 {
    font-size: 24px;
    font-weight: 400;

    margin-left: 25px;
}


li {
    font-size: 16px;

    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 90px;

    padding-right: 55px;
}

p {
    font-size: 18px;
   
}

/* class design: top navigation elements */
.top-navigation {
    height: 80px;
    font-size: 18px;

    padding-top: 10px;
    
}

.gpd-program {
    float: left;
    padding-left: 10px;
    
    margin-top: 50px;
    
}

.veteran-resources {
    float:right;
    margin-top: 50px;
    opacity: 0.5;

    padding-right: 10px;
    
}

.red-line-marker {
    background-color: #C22A3A;
    width: 170px;
    height: 5px;

}

.red-line-position {
    position:relative;
    padding-top: 80px;
}

/* class design: application eligibility elements */
.apply-now {

    font-size: 18px;
    font-weight: 575;
    color: #B94847;
    padding-right: 60px;

}

.card {
    display: grid;
    background-color: #F3F3F3;
    padding: 20px;
    
}

.checked-box {
    position: relative;
    top: 30px;
    left: 45px;

}

.right-arrow {
    position: absolute;
    padding-left: 200px;
    
    margin-top: 428px;
    
}
